language: csharp
dist: trusty
mono: none
dotnet: 2.0.0

install:
  - wget -nc https://dist.nuget.org/win-x86-commandline/latest/nuget.exe;
  - openssl aes-256-cbc -K $encrypted_1ab91df4dffb_key -iv $encrypted_1ab91df4dffb_iv -in ./travis-ci/accounts.enc -out ./travis-ci/accounts.json -d

script:
  - export frameworkVersion=netstandard2.0
  - export releaseVersion="2.10.2"
  - /bin/sh ./nunit_test.sh

after_success:
  - /bin/bash ./travis-ci/build_and_publish.sh
